<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan=3></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>リーダブルコード</td>
      <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
      <td>show</td>
      <td>edit</td>
      <td>Destroy</td>
    </tr>
    <tr>
      <td>リーダブルコード</td>
      <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
      <td>show</td>
      <td>edit</td>
      <td>Destroy</td>
    </tr>
  </tbody>
</table>
<h2>New book</h2>
<form>
<div class="field">
  <label>Title</label>
  <input>
</div>
<div class="field">
  <label>body</label>
  <input>
</div>
<div class="action">
  <input type="submit" value="Create Book">
</div>
</form>
